    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    
    html {
        height: 100%;
    }
    
    @font-face {
        font-family: 'Exo250';
        src: url(../fonts/Exo/Exo-Italic-VariableFont_wght.ttf)format('truetype');
        src: url(../fonts/Exo/Exo-VariableFont_wght.ttf)format('truetype');
        font-weight: 200;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'Exo';
        src: url(../fonts/Exo/Exo-Italic-VariableFont_wght.ttf)format('truetype');
        src: url(../fonts/Exo/Exo-VariableFont_wght.ttf)format('truetype');
        font-weight: 500;
        font-style: normal;
    }
    
    @font-face {
        font-weight: 300;
        font-style: normal;
        font-family: 'Lato';
        src: url(../fonts/Lato/Lato-Bold.ttf)format('truetype');
    }
    
    .exoh1 {
        font-size: 40px;
        letter-spacing: 2px;
        color: #282828;
        font-weight: 500;
        font-family: 'Exo';
    }
    
    .exoh4 {
        font-size: 16px;
        letter-spacing: 3px;
        line-height: 5px;
        color: #ff6d6d;
        font-weight: 500;
        font-family: 'Exo';
    }
    
    .exop {
        font-size: 16px;
        letter-spacing: 1px;
        color: #282828;
        font-weight: 500;
        font-family: 'Exo';
    }
    
    .pink-btn {
        background-color: #ff6d6d;
        border: none;
        color: white;
    }
    
    .first {
        padding: 137px;
        height: 810px;
        background: url(../image/mountain\ [1].png) center/ cover fixed no-repeat;
    }
    
    .first .text-center {
        padding: 100px;
        height: 530px;
        width: 100%;
    }
    
    .first .text-center h1 {
        font-size: 60px;
        letter-spacing: 2px;
        line-height: 75px;
        font-weight: 200;
        font-family: 'Exo250';
    }
    
    .first div div {
        margin: 5% 0 3%;
        width: 59px;
        height: 59px;
        border-radius: 29px;
        background-color: #3239697c;
    }
    
    .first div div img {
        position: sticky;
        margin: 30% 40%;
    }
    
    .first button {
        padding: 1.6% 6%;
    }
    
    .second {
        height: 730px;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    
    .second .img1 {
        float: right;
        height: 100%;
        width: 565px;
        right: 0;
        position: absolute;
        z-index: 2;
        background: url(../image/light-brown\ rectangle\ [2].png);
    }
    
    .second .img2 {
        float: right;
        bottom: 10%;
        height: 100%;
        width: 617px;
        z-index: 3;
        background: url(../image/pink\ rectangle.svg);
    }
    
    .second .text {
        position: absolute;
        width: 50%;
        padding: 9% 0 0 7%;
    }
    
    .second h1 span,
    .forth h1 span {
        color: #ff6d6d;
    }
    
    .third {
        width: 100%;
        height: 670px;
        position: sticky;
        background: url(../image/table\ with\ some\ staff\ [3].png) center/ cover no-repeat;
    }
    
    .third .decor img {
        position: absolute;
        z-index: 2;
    }
    
    .third .decor img:first-child {
        top: 2pc;
        left: 3pc;
    }
    
    .third .decor img:nth-child(2),
    .third .decor img:nth-child(4) {
        top: 0pc;
        right: 10pc;
    }
    
    .third .decor img:nth-child(3) {
        bottom: -8pc;
        right: 2pc;
    }
    
    .third .mx-auto {
        margin: 100px 0;
        position: absolute;
        z-index: 4;
        width: 100%;
    }
    
    .third .mx-auto .row {
        margin: 8% auto;
        width: 86%;
    }
    
    .third .mx-auto .row .col {
        width: 30%;
    }
    
    .forth {
        position: sticky;
        width: 100%;
        height: 530px;
        background-color: white;
        z-index: 5;
        display: flex;
        flex-direction: row;
    }
    
    .forth .img2 {
        bottom: 12.4pc;
        left: -5pc;
        height: 800px;
        width: 500px;
        transform: rotate(90deg);
        background: url(../image/pink\ rectangle.svg);
    }
    
    .forth .img2 img {
        transform: rotate(-90deg);
        position: absolute;
        bottom: 36%;
        right: -5pc;
    }
    
    .forth .text {
        position: static;
        z-index: 5;
        left: 50%;
        padding: 10% 5%;
    }
    
    .fifth {
        position: sticky;
        width: 100%;
        z-index: 3;
        height: 680px;
        background: #000000 url(../image/bg\ [5].png) center/ cover no-repeat;
    }
    
    .fifth .row {
        width: 80%;
        padding: 5% 0 0;
    }
    
    .fifth .row:first-child {
        padding: 13% 0 0;
    }
    
    .fifth .row .col {
        z-index: 3;
        position: sticky;
    }
    
    .fifth .row .col img {
        top: -6pc;
        left: 39%;
        right: 59%;
        position: absolute;
        z-index: 3;
    }
    
    .fifth .row .col h3 {
        font-size: 22px;
        letter-spacing: 1px;
        line-height: 20px;
        color: #ffffff;
        font-weight: 500;
        font-family: 'Exo';
        text-align: center;
    }
    
    .fifth .row .col p {
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 26px;
        color: #ffffff;
        font-style: italic;
        font-family: 'Exo';
        text-align: center;
    }
    
    .sixth {
        position: static;
        width: 100%;
        height: 690px;
        padding: 7% 0 0;
        background: url(../image/table\ with\ some\ staff\ [3].png) center/ cover no-repeat;
    }
    
    .sixth .text {
        width: 50%;
    }
    
    .sixth .text p {
        margin: 4% auto 8%;
    }
    
    .sixth div img {
        left: 20%;
        right: 50%;
        position: sticky;
    }
    
    .signin {
        position: sticky;
        padding: 6% 9%;
        height: 520px;
        background: url(../image/bg\ [6].png) center/ cover no-repeat;
    }
    
    .signin h2 {
        font-size: 40px;
        letter-spacing: 2px;
        line-height: 20px;
        color: #ffffff;
        font-family: 'Exo';
        text-align: center;
        margin: 0 0 11%;
    }
    
    .signin input {
        border: none;
        border-radius: 3px;
        background-color: rgba(246, 245, 243, 0.2);
    }
    
    .signin input::placeholder {
        color: white;
    }
    
    .signin button {
        padding: 0 8%;
        background-color: #ff6d6d;
        text-align: center;
        white-space: pre;
    }
    
    .signin p {
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 75px;
        color: #f6f5f3;
        font-weight: 400;
        font-family: 'Exo';
        opacity: 0.7;
        margin: 2% 0 0;
    }
    
    .signin p a {
        border-bottom: 2px solid #f6f5f3;
        color: #f6f5f3;
    }
    
    .signin p a:hover {
        opacity: 1;
    }
    
    .foot {
        position: sticky;
        width: 100%;
        height: 350px;
        z-index: 2;
        font-family: 'Exo';
    }
    
    .foot .row {
        margin: 5%;
        z-index: 3;
        width: 75%;
    }
    
    .foot .col h2 span {
        padding: 2.4% 2.6% 2.4% 2.4%;
        color: white;
        background: url(../image/pink\ start\ triangle.png) center/ cover no-repeat;
    }
    
    .foot .start {
        font-size: 27px;
        line-height: 33px;
        color: #212126;
        font-weight: 400;
        font-family: "Lato";
    }
    
    .foot ul li {
        list-style: none;
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 30px;
        color: #282828;
        font-weight: 400;
        font-family: "Exo";
    }
    
    .foot form input {
        width: 220px;
        border: none;
        border-radius: 3px;
        background-color: rgba(141, 141, 141, 0.2);
    }
    
    .foot .social {
        width: 90%;
    }
    
    .foot .decor {
        position: absolute;
        height: 750px;
        width: 380px;
        z-index: 2;
        top: -73.5%;
        right: 13%;
        padding: 60px;
        transform: rotate(270deg);
        background: url(../image/pink\ rectangle.svg);
    }
    
    @media(max-width:770px) {
        .first {
            padding: 6vmax 0;
            height: 900px;
        }
        .second .text {
            width: 100%;
            padding: 10vmax 5vmax;
            z-index: 5;
        }
        .third {
            height: 950px;
        }
        .third .decor img {
            width: 20vmax;
        }
        .third .decor img:first-child {
            top: 1pc;
            left: -2pc;
        }
        .third .decor img:nth-child(2),
        .third .decor img:nth-child(4) {
            top: 5pc;
            right: 2pc;
        }
        .third .decor img:nth-child(3) {
            bottom: -8pc;
            right: 2pc;
        }
        .third .mx-auto {
            margin: 25vmax auto;
        }
        .third .mx-auto .row {
            display: flex;
            flex-direction: column;
            margin: 8% auto;
            width: 70%;
        }
        .third .mx-auto .row .col {
            width: 100%;
            margin: 2% auto;
            display: flex;
            flex-direction: row;
        }
        .third .mx-auto .row .col img {
            width: 9vmax;
        }
        .third .mx-auto .row .col div {
            width: 80%;
        }
        .forth {
            height: 670px;
        }
        .forth .img2 {
            bottom: -5.7pc;
            left: 12pc;
            height: 800px;
            width: 500px;
        }
        .forth .img2 img {
            bottom: 10vmax;
            right: 10vmax;
            width: 90%;
        }
        .forth .text .exo {
            position: absolute;
            left: 10%;
            padding: 7% 5%;
        }
        .forth .text p {
            width: 50%;
            position: absolute;
            top: 45%;
            left: 45%;
        }
        .fifth {
            height: 1100px;
        }
        .fifth .row:nth-child(2) {
            width: 80%;
            margin: 4% auto;
            flex-wrap: wrap;
        }
        .fifth .row:nth-child(2) img {
            padding: 2vmax;
        }
        .fifth .row:first-child {
            width: 80%;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
        }
        .fifth .row .col {
            display: flex;
            flex-direction: row-reverse;
            margin: auto;
        }
        .fifth .row .col img {
            width: 10vmax;
            height: 10vmax;
            margin: auto 6%;
            position: static;
        }
        .sixth {
            position: static;
            width: 100%;
            height: 500px;
            padding: 7% 5% 0;
        }
        .sixth .text {
            width: 80%;
        }
        .sixth div img {
            left: 20%;
            right: 50%;
            width: 70%;
        }
        .signin form {
            display: flex;
            flex-direction: column;
        }
        .signin {
            padding: 6% 9%;
            height: 560px;
        }
        .signin h2 {
            font-size: 35px;
            line-height: 40px;
            margin: 0 0 5%;
        }
        .signin input {
            margin: 2% 0;
        }
        .signin button {
            width: 30%;
            margin: 2% auto;
            padding: 2% 0;
        }
        .foot .row {
            position: sticky;
            margin: 5% auto;
            z-index: 6;
            width: 90%;
        }
        .foot .row .col:nth-child(4) {
            text-align: center;
        }
        .foot .decor {
            width: 300px;
            top: -75.5%;
            right: 29.3%;
        }
        .foot .social {
            width: 40%;
        }
    }
    
    @media(max-width:415px) {
        .exoh1 {
            font-size: 30px;
            letter-spacing: 3px;
        }
        .exop {
            font-size: 14px;
            letter-spacing: 2px;
        }
        .pink-btn {
            padding: 7% 30%;
        }
        .first {
            padding: 3% 0;
            height: 670px;
        }
        .first .text-center {
            width: 100%;
            height: 400px;
            margin: 5% auto;
        }
        .first .text-center h1 {
            font-size: 30px;
            letter-spacing: 2px;
            line-height: 45px;
        }
        .first div div {
            margin: 6vmax 0;
            width: 50px;
            height: 50px;
        }
        .first button {
            padding: 7% 30%;
        }
        .second {
            height: 600px;
            padding: 5vmax 0;
        }
        .second .img1 {
            display: none;
        }
        .second .text {
            text-align: justify;
            padding: 9%;
        }
        .third {
            height: 1000px;
            padding: 9vmax 0;
        }
        .third .decor img:nth-child(2),
        .third .decor img:nth-child(4) {
            top: 27pc;
            right: 0pc;
            width: 19vmax;
        }
        .third .decor img:nth-child(3) {
            bottom: -6pc;
        }
        .third .mx-auto {
            position: sticky;
            width: 90%;
            margin: 5vmax auto;
        }
        .third .mx-auto .row {
            margin: 8% auto;
            width: 95%;
        }
        .third .mx-auto .row .col {
            margin: 3% auto;
            flex-direction: column;
        }
        .third .mx-auto .row .col img {
            width: 11vmax;
            margin: 0 auto;
        }
        .third .mx-auto .row .col div {
            width: 100%;
        }
        .forth {
            position: sticky;
            height: 530px;
            z-index: 5;
            display: flex;
            flex-direction: row;
        }
        .forth .img2 {
            bottom: 12.4pc;
            left: -8pc;
        }
        .forth .img2 img {
            bottom: 50%;
            width: 200px;
            right: -10pc;
        }
        .forth .text {
            padding: 10% 15% 0 0;
            text-align: justify;
        }
        .fifth {
            height: 1600px;
        }
        .fifth .row:nth-child(2) {
            width: 95%;
        }
        .fifth .row:first-child {
            width: 90%;
        }
        .fifth .row .col {
            flex-direction: column;
        }
        .fifth .row .col img {
            width: 15vmax;
            height: 15vmax;
            margin: 6% auto;
        }
        .sixth {
            height: 480px;
            padding: 7vmax 5.5vmax 0;
        }
        .sixth .text {
            width: 90%;
            text-align: justify;
        }
        .sixth div img {
            width: 100%;
        }
        .signin {
            padding: 6vmax 9vmax 0;
            height: 660px;
        }
        .signin h2 {
            font-size: 30px;
            margin: 5% 0;
        }
        .signin input {
            margin: 3% 0;
        }
        .signin button {
            width: 60%;
            margin: 3% auto;
            padding: 1.4vmax 0;
        }
        .foot .row {
            display: flex;
            flex-direction: column-reverse;
            margin: 10% auto;
            width: 80%;
        }
        .foot .decor {
            width: 70%;
            top: 1%;
            left: 30%;
            transform: rotate(0deg);
        }
        .foot .social {
            width: 80%;
            display: flex;
            flex-direction: row;
        }
    }